/stefon-core/target/
/lein-stefon-precompile/target/
/stefon-core/.lein-repl-history
/stefon-core/test/precompile-cache/
/stefon-core/test/fixtures/middleware/public/assets/
/stefon-core/manifest.json
